body {
  font-family: "Lato", sans-serif;
  background-color: #677380;
  color: #fff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #121f2b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #283848;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .4);
  padding: 0 .5rem;
  height: var(--header-height);
}

.menu-icon-btn {
  background: none;
  border: none;
  padding: 0;
}

.menu-icon {
  width: 25px;
  height: 25px;
  fill: var(--medium-gray);
  cursor: pointer;
}

.menu-icon:hover {
  fill: var(--dark-gray);
}
